ul {
    overflow: hidden;
    overflow-y: scroll;
    /*background-color: lightgray;*/
}

#userList {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

#userList li {
    margin: 5px;
    border-radius: 5px;
    background: #f3f3f3;
}

#messageList {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

}

#messageList li {
    padding: 5px 2px;
}

.messageListContainer {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: 1px #E5E5E5 solid;

}

.messageHolder {
    border-radius: 25px;
    padding: 5px 7px;
    background: #F1F0F0;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 75%;
}

.myMessage {
    /*font-weight: bold;*/
    text-align: right;
}

.myMessage #bubble {
    background: #0099FF;
    color: #FDFEFF;
    text-align: left;
}

.systemMessage {
    font-weight: bold;
    font-size: .8em;
    border: none;
    background: none;
}

.time {
    font-size: .75em;
    font-weight: lighter;
}

.msg {
    font-weight: lighter;
}

.profileImg {
    padding: 2px;
}

.profileName {
    font-size: 1.2em;
    vertical-align: middle;
    padding: 0px 10px;
}

.profileContainer {
    padding: 1px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.userContainer {
    height: 100%;
    border: 1px #E5E5E5 solid;
}

.onlineTitle {
    font-size: 1em;
    font-weight: lighter;
    margin: 2px;
    padding: 2px 5px;
    color: #aaaaaa;
}

.mainArea {
    height: 65%;
    padding-bottom: 5px;
}
