ul {
    overflow: hidden;
    overflow-y: scroll;
    /*background-color: lightgray;*/
}

#messageList {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    height: 100%;
    border: 1px #ddd solid;

}

#messageList li {
    padding: 5px 2px;
}

.messageHolder {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 7px;
    background: #eee;
}

.myMessage {
    /*font-weight: bold;*/
    text-align: right;
}

.myMessage #bubble {
    background: #5bd2ff;
}
.systemMessage {
    font-weight: bold;
}

.time {
    font-size: .75em;
    font-weight: lighter;
}

.mainArea {
    height: 500px;
}